@model WebApplication2.Models.Wniosek

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Wniosek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataZlozenia" class="control-label"></label>
                <input asp-for="DataZlozenia" class="form-control" />
                <span asp-validation-for="DataZlozenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRozpatrzenia" class="control-label"></label>
                <input asp-for="DataRozpatrzenia" class="form-control" />
                <span asp-validation-for="DataRozpatrzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresZameldowaniaID" class="control-label"></label>
                <select asp-for="AdresZameldowaniaID" class ="form-control" asp-items="ViewBag.AdresZameldowaniaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdresDoKorespondencjiID" class="control-label"></label>
                <select asp-for="AdresDoKorespondencjiID" class ="form-control" asp-items="ViewBag.AdresDoKorespondencjiID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
