@model WebApplication2.Models.SzczegolyKwalifikacji

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SzczegolyKwalifikacji</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="InstruktorID" class="control-label"></label>
                <select asp-for="InstruktorID" class="form-control" asp-items="ViewBag.InstruktorID"></select>
                <span asp-validation-for="InstruktorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DyscyplinaZPoziomemID" class="control-label"></label>
                <select asp-for="DyscyplinaZPoziomemID" class="form-control" asp-items="ViewBag.DyscyplinaZPoziomemID"></select>
                <span asp-validation-for="DyscyplinaZPoziomemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priorytet" class="control-label"></label>
                <input asp-for="Priorytet" class="form-control" />
                <span asp-validation-for="Priorytet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certyfikat" class="control-label"></label>
                <input asp-for="Certyfikat" class="form-control" />
                <span asp-validation-for="Certyfikat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StawkaZaZajecia" class="control-label"></label>
                <input asp-for="StawkaZaZajecia" class="form-control" />
                <span asp-validation-for="StawkaZaZajecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
