@model WebApplication2.Models.BrakujaceWyposazeniePrzystosowanieSali

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BrakujaceWyposazeniePrzystosowanieSali</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrakujaceWyposazenieID" class="control-label"></label>
                <select asp-for="BrakujaceWyposazenieID" class ="form-control" asp-items="ViewBag.BrakujaceWyposazenieID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
